.vscode/**
Packages/**
Assets/Settings/**
Library/**
Assets/*.meta
Assets/*/**.png
Assets/Stripe/**
Assets/Animation/**
Assets/Layer/**
Assets/Prefabs/**
Assets/Scenes/**
Assets/TextMesh Pro/**
Logs/**
ProjectSettings/**
Temp/**
UserSettings/**
Assembly-CSharp.csproj
WhereAraMyDice.sln
